<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.usersu"
    android:versionCode="1"
    android:versionName="0.1.0">

    <!-- Minimum and target SDKs -->
    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="34" />

    <application
        android:allowBackup="false"
        android:label="UserSU"
        android:icon="@drawable/icon"
        android:theme="@android:style/Theme.NoDisplay">
        
        <!-- If you don’t want *any* Activity -->
        <!-- Just leave the <application> empty or only declare Services/Receivers -->

        <!-- Example: native service entrypoint -->
        <!--
        <service
            android:name=".NativeService"
            android:enabled="true"
            android:exported="false" />
        -->

    </application>
</manifest>
